<ion-header>
  <ion-toolbar>
    <ion-title>Contas a <span class="capitalized">{{tipo}}</span></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let conta of contas">
      <ion-label>
        <h2>{{conta.nome}}</h2>
        <p>{{conta.descricao}}</p>
        <h3>{{conta.valor | currency: 'BRL'}}</h3>
        <h3>{{conta.data | date : 'dd/MM/yyyy'}}</h3>
      </ion-label>
      <ion-icon slot="end" name="create" color="primary" (click)="edit(conta)"></ion-icon>
      <ion-icon slot="end" name="trash" color="danger" (click)="delete(conta)"></ion-icon>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" [routerLink]="['/contas/cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
