<ion-header>
  <ion-toolbar>
    <ion-title>Soma</ion-title>
  </ion-toolbar>
</ion-header>


<form [formGroup]="form">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Número 1</ion-label>
      <ion-input type="number" formControlName="numero1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número 2</ion-label>
      <ion-input type="number" formControlName="numero2"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button id="operacaoSoma" expand="block" type="button" [disabled]="form.invalid" (click)="somar()">Calcular
  </ion-button>

  <p id="resultadoSoma" class="ion-text-center">{{resultado}}</p>
</form>
