<ion-content class="ion-padding">

  <app-topo-login title="Cadastrar usuário"></app-topo-login>

  <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-icon name="person" color="default" slot="start"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autofocus></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" color="default" slot="start"></ion-icon>
      <ion-input formControlName="sobrenome" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" color="default" slot="start"></ion-icon>
      <ion-input formControlName="email" type="text" placeholder="E-mail"></ion-input>

    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="default" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>

    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="default" slot="start"></ion-icon>
      <ion-input formControlName="confirmPassword" type="password" placeholder="Confirmar senha"></ion-input>

    </ion-item>

    <ion-button buttonType="button" type="submit" expand="block" color="default" [disabled]="formRegister.invalid">
      Entrar
    </ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button color="medium" expand="block" fill="clear" [routerLink]="['/auth']">Login</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
