<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-soma></app-soma>
  <app-subtracao></app-subtracao>
  <app-divisao></app-divisao>
  <app-multiplicacao></app-multiplicacao>
</ion-content>
