<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      iFinanças na área!
    </ion-title>
  </ion-toolbar>
  <ion-button (click)="logout()">Sair</ion-button>
</ion-header>


<ion-content class="ion-padding">

  <ion-item>
    <ion-label> Mês </ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="dataDePesquisa"
      (ngModelChange)="atualizarContas()">
    </ion-datetime>
  </ion-item>




  <app-dash-card [title]="'Contas a Receber'" [icon]="'arrow-down'" [value]=" conta.receber.valorTotal"
    [color]="'secondary'" [quantidade]="conta.receber.totalConta">
  </app-dash-card>

  <app-dash-card [title]="'Contas a pagar'" [icon]="'arrow-up'" [value]="conta.pagar.valorTotal" [color]="'danger'"
    [quantidade]="conta.pagar.totalConta">
  </app-dash-card>

  <app-dash-card [title]="'Saldo'" [icon]="'wallet'" [value]="conta.saldo.valorTotal" [color]="'Dark'"
    [quantidade]="conta.saldo.totalConta">
  </app-dash-card>

  <div id="btn-menu">
    <ion-button fill="clear" expand="block" [routerLink]="['/contas/pagar']">Contas a Pagar</ion-button>
    <ion-button fill="clear" expand="block" [routerLink]="['/contas/receber']">Contas a Receber</ion-button>
  </div>


</ion-content>
