<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-icon name="person" color="default" slot="start"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autofocus></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="document" color="default" slot="start"></ion-icon>
      <ion-input formControlName="descricao" type="text" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="wallet" color="default" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Mês </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="data"></ion-datetime>
    </ion-item>

    <ion-radio-group formControlName="tipo">
      <ion-item>
        <ion-label>Pagar</ion-label>
        <ion-radio slot="start" value="pagar" name="tipo"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Receber</ion-label>
        <ion-radio slot="start" value="receber" name="tipo"></ion-radio>
      </ion-item>
    </ion-radio-group>


    <ion-button buttonType="button" type="submit" expand="block" color="default" [disabled]="form.invalid">Enviar
    </ion-button>
  </form>
</ion-content>
