<ion-header>
  <ion-toolbar>
    <ion-title>Divisão</ion-title>
  </ion-toolbar>
</ion-header>


<form [formGroup]="form">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Dividendo</ion-label>
      <ion-input type="number" formControlName="dividendo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Divisor</ion-label>
      <ion-input type="number" formControlName="divisor"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button id="operacaoDividir" expand="block" type="button" [disabled]="form.invalid" (click)="dividir()">Calcular
  </ion-button>

  <p id="resultadoDivisao" class="ion-text-center">{{resultado}}</p>
</form>
