<ion-card class="card-height">
  <ion-item>
    <ion-icon [name]="icon" slot="start"></ion-icon>
    <ion-label><b>{{title}}</b></ion-label>
  </ion-item>
  <ion-card-content>
    <ion-row>
      <ion-col size="1">
        <ion-badge [color]="color">{{quantidade}}</ion-badge>
      </ion-col>
      <ion-col>
        <ion-text [color]="color">
          <p class="ion-text-center">{{value | currency : 'BRL'}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
