<ion-content class="ion-padding">

  <app-topo-login></app-topo-login>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-icon name="mail" color="default" slot="start"></ion-icon>
      <ion-input formControlName="email" type="text" placeholder="E-mail" autofocus></ion-input>

    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="default" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>

    </ion-item>

    <ion-button buttonType="button" type="submit" expand="block" color="default" [disabled]="form.invalid">Entrar
    </ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button color="medium" expand="block" fill="clear" [routerLink]="['forgot']">Esqueci minha senha
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="medium" expand="block" fill="clear" [routerLink]="['register']">Cadastrar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
