<ion-content class="ion-padding">
  <app-topo-login [title]="'Esqueci minha senha'"></app-topo-login>


  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-icon name="mail" color="default" slot="start"></ion-icon>
      <ion-input formControlName="email" type="text" placeholder="E-mail" autofocus></ion-input>

    </ion-item>

    <ion-button buttonType="button" type="submit" expand="block" color="default" [disabled]="form.invalid">Enviar
    </ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button color="medium" expand="block" fill="clear" [routerLink]="['/auth']">Login</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
